$showedHeight: 375;

.autocomplete {
    $that: &;
    position: relative;

    /*the container must be positioned relative:*/
    &-caret {
        position: absolute;
        top: 50%;
        right: em(16);
        display: block;
        width: em(24);
        height: em(24);
        content: '';
        color: var(--c-gray);
        cursor: pointer;
        transition: transform .4s;
        margin-top: -12px;

        &:hover {
            color: var(--c-gray);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &-items {
        width: calc(100% + 15px);
        min-height: em(52);
        max-height: em($showedHeight);
        overflow-y: auto;
        overflow-x: hidden;
        padding: em(8) 0;

        &-wrapper {
            position: absolute;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            margin-top: 8px;
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: 'No results found';
            padding: 17.4px 10px;
            width: 100%;
            text-align: center;
            color: var(--c-gray);
            background-color: #fff;
            z-index: 1;
        }
        div {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;
            cursor: pointer;
            padding: rem(16.4) rem(17);
            width: em(360);
            background-color: #fff;

            &:hover {
                background-color: #e9e9e9;
            }

            &.-selected {
                background-color: #e9e9e9;
            }

            &.-hidden {
                display: none;
            }

        }
    }

    &.-showed {
        #{$that}-items-wrapper {
            max-width: 100%;
            max-height: em($showedHeight);
        }
        #{$that}-caret {
            transform: rotateX(180deg);
            color: var(--c-blue);
        }
    }
}

.country {
    &-flag {
        margin-right: em(22);
        font-size: em(20);
    }
    &-code {
        position: absolute;
        right: em(16);
        color: var(--c-d-gray);
    }
}
