.btn {
    display: inline-block;
    position: relative;
    font-size: em(16);
    outline: 0;
    border: 0;
    padding: em(13) em(18);
    cursor: pointer;
    transition: background-color .4s, color .4s;
    border-radius: var(--bd-rad);
    background-color: var(--c-blue);
    color: #fff;

    &:before {
        position: absolute;
        content: '';
        display: block;
        top: 50%;
        left: 50%;
        width: 100%;
        padding-top: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
    }

    & > * {
        position: relative;
        z-index: 1;
        pointer-events: none;
    }

    &:hover {
        &:before {
            transform: translateX(-50%) translateY(-50%);
            opacity: 1;
        }
    }

    &.fluid {
        width: 100%;
    }

    &.big {
        padding: em(18) em(24);
    }

    &.white {
        color: var(--c-blue);
        background-color: #fff;
    }

    &.circle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: em(44);
        height: em(44);
        padding: 0;
        border-radius: 50%;
        background-color: transparent;
        color: var(--c-d-gray);

        &.big {
            width: em(54);
            height: em(54);
        }

        &.inverted {
            color: #fff;
            &:before {
                background-color: rgba(255, 255, 255, 0.08);
            }
        }

        &.blue {
            background-color: var(--c-blue);
            color: #fff;
        }
    }

    & > .loader {
        display: none;
        position: absolute;
        top: 50%;
        right: rem(16);
        transform: translateY(-50%);
    }

    &.-loading {
        & > .loader {
            display: block;
        }
    }
}
