.checkbox {
    label {
        position: relative;
        padding-left: em(53);
        display: flex;
        align-items: center;
        cursor: pointer;

        &:before {
            position: absolute;
            left: 0;
            content: '';
            display: block;
            width: em(18);
            height: em(18);
            border-radius: 3px;
            border: 2px solid var(--c-blue);
            transition: background-color .4s;
        }
        &:after {
            content: '';
            position: absolute;
            left: em(5);
            top: em(1);
            width: 0;
            height: 0;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            visibility: hidden;
            transition: width .2s, height .2s;
        }
    }

    input {
        position: absolute;
        left: -999px;

        &:checked {
            & + label {
                &:before {
                    background-color: var(--c-blue);
                }
                &:after {
                    width: em(7);
                    height: em(13);
                    visibility: visible;
                }
            }
        }
    }
}
