$inputWidth: 360;
$inputHeight: 54;
$inputFontSize: 16;
$inputHPadding: 19;
$inputVPadding: 14;

$labelSmallFontSize: 12;
$labelHPadding: 4;


.input {
    position: relative;
    display: flex;
    align-content: center;
    justify-items: center;
    caret-color: var(--c-blue);
    width: em($inputWidth, $inputFontSize);
    height: em($inputHeight, $inputFontSize);

    &:before {
        content: attr(data-field);
        position: absolute;
        left: rem($inputHPadding - $labelHPadding);
        font-size: em($labelSmallFontSize);
        transform: translateY(-50%);
        background: #fff;
        color: #fff;
        max-width: 0;
        overflow: hidden;
        transition: max-width .3s, padding .3s;
    }

    input {
        width: 100%;
        height: 100%;
        padding: em($inputHPadding, $inputFontSize) em($inputVPadding, $inputFontSize);
        border: 1px solid $color-light-gray;
        border-radius: var(--bd-rad);
        outline: 0;
        font-size: em($inputFontSize);

        &:focus {
            border-color: var(--c-blue);
            border-width: 2px;
        }
    }

    label {
        position: absolute;
        top: 50%;
        left: rem($inputHPadding);
        transform: translateY(-50%);
        color: var(--c-gray);
        font-size: em($inputFontSize);
        transition: top .4s, font-size .4s, color .4s;
        pointer-events: none;
    }

    &.-focused {
        input {
            border-color: var(--c-blue);
            border-width: 2px;

            & + label {
                color: var(--c-blue);
            }
        }
    }

    &.-not-empty {
        &:before {
            max-width: rem(360);
            padding: 0 rem($labelHPadding);
        }
        label {
            top: 0;
            font-size: em($labelSmallFontSize);
        }
        input:focus + label {
            color: var(--c-blue);
        }
    }

    &.-error {
        input {
            border-color: var(--c-red);
            border-width: 2px;

            &:focus {
                border-color: var(--c-red);
                & + label {
                    color: var(--c-red);
                }
            }
        }

        label {
            color: var(--c-red);
        }
    }
}
