@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    position: relative;
    width: em(24);
    height: em(24);

    &:after {
        display: block;
        width: 100%;
        height: 100%;
        border: 2px solid;
        border-color: #fff transparent #fff #fff;
        border-radius: 50%;
        animation: rotate .8s linear infinite;
        content: '';
    }

    &.blue {
        &:after {
            border-color: var(--c-blue) var(--c-blue) var(--c-blue) transparent;
        }
    }

    &.big {
        width: em(48);
        height: em(48);
    }
}
