.popup {
    max-width: 0;
    max-height: 0;
    border-radius: var(--bd-rad);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25);
    transition: max-width .2s, max-height .2s;
    overflow: hidden;

    &.-showed {
        max-width: 100%;
        max-height: em(375);
        transition: max-width .3s, max-height .3s;
    }
}
