@keyframes rippleEffect {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(0);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) scale(3);
    }
}

.ripple {
    position: relative;
    overflow: hidden;

    .ripple-effect {
        position: absolute;
        border-radius: 50%;
        width: 100%;
        animation: rippleEffect .6s ease-in 1 forwards;
        //background-color: #000;
        background-color: rgba(0, 0, 0, 0.08);
        padding-top: 100%;
        transform: translateX(-50%) translateY(-50%) scale(0);
        z-index: 0;
    }

    &.inverted {
        .ripple-effect {
            background-color: rgba(255, 255, 255, 0.08);
        }
    }
}
