*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: $primary-color;
  font-family: $primary-font;
  background: #fff;
}

h1 {
  font-family: $primary-font;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: row;
  max-width: em(1678);
  border-left: 1px solid var(--c-gray);
  border-right: 1px solid var(--c-gray);
  margin: 0 auto;
  height: 100%;
}

.sidebar-left {
  width: 100%;
  max-width: em(420);
  border-right: 1px solid var(--c-gray);
}

.sidebar-right {
  width: 100%;
  max-width: em(420);
  border-left: 1px solid var(--c-gray);
}

.content {
  width: 100%;
  padding: 1em;
  //background-color: #0f1a20;
}

.m {
  &t {
    &16 {
      margin-top: em(16);
    }
  }
  &l {
    &16 {
      margin-left: em(16);
    }
  }
}

[hidden] {
  display: none !important;
}
