$base-font-size: 16 !default;
$primary-font: Roboto, sans-serif;
$primary-color: #333;

@import "mixins";

:root {
    --bd-rad: #{rem(10)};

    --c-blue: #{$colorblue};
    --c-l-gray: #{$color-light-gray};
    --c-gray: #{$color-gray};
    --c-d-gray: #{$color-dark-gray};
    --c-red: #{$color-red};
}
