.auth {
    width: 100%;
    height: 100%;

    &-logo {
        text-align: center;
    }

    &-header {
        text-align: center;
    }

    &-sub-header {
        text-align: center;
        color: var(--c-gray);
    }

    &-form {
        display: block;
        width: 360px;
        margin: 0 auto;
    }
}
