<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="HandheldFriendly" content="True">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">
    <title>Telegram web</title>
</head>

<body>

<div class="auth">
    <form id="authForm" class="auth-form">
        <div class="auth-logo">
            <svg style="width: 160px; height: 160px;">
                <use xlink:href="#loginLogo"/>
            </svg>
        </div>
        <h1 class="auth-header">Sign in to Telegram</h1>
        <div class="auth-sub-header">Please confirm your country and enter your phone number.</div>
        <div class="auth-form-login">
            <div class="input mt16" data-field="Country" data-items="countries">
                <input id="country" name="country" type="text" autocomplete="off" />
                <label for="country">Country</label>
            </div>
            <div class="input mt16" data-field="Phone number">
                <input id="phone" name="phone" type="text" />
                <label for="phone">Phone number</label>
            </div>
            <div class="checkbox mt16 ml16">
                <input id="checkbox" name="phone" type="checkbox" />
                <label for="checkbox">Keep me signed in</label>
            </div>
            <button id="loginBtn" class="btn big fluid ripple mt16" hidden>
                <span>Next</span>
            </button>
        </div>
        <div class="auth-form-code">

        </div>
        <div class="auth-form-password">

        </div>
    </form>
</div>
<div class="app wrapper" hidden>
    <div class="sidebar-left">
        sidebar-left
    </div>
    <div class="content">

<!--        <div class="input mt16" data-field="Country" data-items="countries">-->
<!--            <input id="country" name="country" type="text" autocomplete="off" />-->
<!--            <label for="country">Country</label>-->
<!--        </div>-->
<!--        <div class="input mt16" data-field="Phone number">-->
<!--            <input id="phone" name="phone" type="text" />-->
<!--            <label for="phone">Phone number</label>-->
<!--        </div>-->
        <!--        <div class="input mt16 -not-empty -focused" data-field="Focused not empty number">-->
        <!--            <input id="phone3" name="phone" type="text" value="+7 900" />-->
        <!--            <label for="phone3">Focused not empty number</label>-->
        <!--        </div>-->
        <!--        <div class="input mt16 -error" data-field="Invalid number">-->
        <!--            <input id="phone2" name="phone" type="text" />-->
        <!--            <label for="phone2">Invalid number</label>-->
        <!--        </div>-->
        <!--        <hr />-->
<!--        <div class="checkbox mt16">-->
<!--            <input id="checkbox" name="phone" type="checkbox" />-->
<!--            <label for="checkbox">Keep me signed in</label>-->
<!--        </div>-->
        <!--        <div class="checkbox mt16">-->
        <!--            <input id="checkbox1" name="phone" type="checkbox" checked />-->
        <!--            <label for="checkbox1">Keep me signed in checked</label>-->
        <!--        </div>-->
        <!--        <hr />-->
        <!--        <button class="btn ripple mt16">-->
        <!--            <span>SUBSCRIBE</span>-->
        <!--        </button>-->
        <!--        <button class="btn white ripple mt16">-->
        <!--            <span>BTN WHITE</span>-->
        <!--        </button>-->
        <!--        <button class="btn big ripple mt16">-->
        <!--            <span>NEXT</span>-->
        <!--        </button>-->
        <button class="btn big fluid ripple mt16">
            <span>BTN FLUID</span>
        </button>
        <!--        <button class="btn big fluid ripple mt16 -loading">-->
        <!--            <span>PLEASE WAIT...</span>-->
        <!--            <span class="loader"></span>-->
        <!--        </button>-->
        <!--        <hr />-->

        <!--        <button class="btn circle blue ripple mt16">-->
        <!--            <svg style="width: 24px; height: 24px;">-->
        <!--                <use xlink:href="#iconMore"/>-->
        <!--            </svg>-->
        <!--        </button>-->

        <!--        <button class="btn ripple circle mt16">-->
        <!--            <svg style="width: 24px; height: 24px;">-->
        <!--                <use xlink:href="#iconMore"/>-->
        <!--            </svg>-->
        <!--        </button>-->

        <!--        <button class="btn circle blue ripple mt16">-->
        <!--            <svg style="width: 24px; height: 24px;">-->
        <!--                <use xlink:href="#iconPlus"/>-->
        <!--            </svg>-->
        <!--        </button>-->


        <!--        <button class="btn circle ripple mt16">-->
        <!--            <svg style="width: 24px; height: 24px;">-->
        <!--                <use xlink:href="#iconPlus"/>-->
        <!--            </svg>-->
        <!--        </button>-->

        <!--        <button class="btn circle big blue ripple mt16">-->
        <!--            <svg style="width: 24px; height: 24px;">-->
        <!--                <use xlink:href="#iconPlus"/>-->
        <!--            </svg>-->
        <!--        </button>-->

        <!--        <button class="btn circle big ripple mt16">-->
        <!--            <svg style="width: 24px; height: 24px;">-->
        <!--                <use xlink:href="#iconPlus"/>-->
        <!--            </svg>-->
        <!--        </button>-->

        <!--        <div style="background-color: var(&#45;&#45;c-d-gray);margin-top: 16px;padding: 16px;">-->
        <!--            <div style="color: #efefef">Inverted</div>-->
        <!--            <button class="btn circle inverted ripple mt16">-->
        <!--                <svg style="width: 24px; height: 24px;">-->
        <!--                    <use xlink:href="#iconMore"/>-->
        <!--                </svg>-->
        <!--            </button>-->

        <!--            <button class="btn circle inverted ripple mt16">-->
        <!--                <svg style="width: 24px; height: 24px;">-->
        <!--                    <use xlink:href="#iconPlus"/>-->
        <!--                </svg>-->
        <!--            </button>-->

        <!--            <button class="btn circle big inverted ripple mt16">-->
        <!--                <svg style="width: 24px; height: 24px;">-->
        <!--                    <use xlink:href="#iconPlus"/>-->
        <!--                </svg>-->
        <!--            </button>-->

        <!--            <div class="loader"></div>-->
        <!--        </div>-->

        <!--        <hr>-->
        <!--        <div class="loader blue big"></div>-->
    </div>
    <div class="sidebar-right">
        sidebar-right
        <svg style="width: 24px; height: 24px; color: #3366cc">
            <use xlink:href="#iconCaret"/>
        </svg>
    </div>
</div>

<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
<svg id="sprite" hidden>
    <symbol id="loginLogo" viewBox="0 0 160 160">
        <path fill="#50a2E9" fill-rule="evenodd" d="M80,0 C124.18278,0 160,35.81722 160,80 C160,124.18278 124.18278,160 80,160 C35.81722,160 0,124.18278 0,80 C0,35.81722 35.81722,0 80,0 Z M114.262551,46.4516129 L114.123923,46.4516129 C111.089589,46.5056249 106.482806,48.0771432 85.1289541,56.93769 L81.4133571,58.4849956 C72.8664779,62.0684477 57.2607933,68.7965125 34.5963033,78.66919 C30.6591745,80.2345564 28.5967328,81.765936 28.4089783,83.2633288 C28.0626453,86.0254269 31.8703852,86.959903 36.7890378,88.5302703 L38.2642674,89.0045258 C42.3926354,90.314406 47.5534685,91.7248852 50.3250916,91.7847532 C52.9151948,91.8407003 55.7944784,90.8162976 58.9629426,88.7115451 L70.5121776,80.9327422 C85.6657026,70.7535853 93.6285785,65.5352892 94.4008055,65.277854 L94.6777873,65.216416 C95.1594319,65.1213105 95.7366278,65.0717596 96.1481181,65.4374337 C96.6344248,65.8695939 96.5866185,66.6880224 96.5351057,66.9075859 C96.127514,68.6448691 75.2839361,87.6143392 73.6629144,89.2417998 L73.312196,89.6016896 C68.7645143,94.2254793 63.9030972,97.1721503 71.5637945,102.355193 L73.3593638,103.544598 C79.0660342,107.334968 82.9483395,110.083813 88.8107882,113.958377 L90.3875424,114.996094 C95.0654739,118.061953 98.7330313,121.697601 103.562866,121.253237 C105.740839,121.052855 107.989107,119.042224 109.175465,113.09692 L109.246762,112.727987 C112.002037,98.0012935 117.417883,66.09303 118.669527,52.9443975 C118.779187,51.7924073 118.641237,50.318088 118.530455,49.6708963 L118.474159,49.3781963 C118.341081,48.7651315 118.067967,48.0040758 117.346762,47.4189793 C116.412565,46.6610871 115.002114,46.4638844 114.262551,46.4516129 Z"/>
    </symbol>
    <symbol id="iconMore" viewBox="0 0 24 24">
        <path fill="currentColor" fill-rule="nonzero" d="M12,16 C13.1045695,16 14,16.8954305 14,18 C14,19.1045695 13.1045695,20 12,20 C10.8954305,20 10,19.1045695 10,18 C10,16.8954305 10.8954305,16 12,16 Z M12,10 C13.1045695,10 14,10.8954305 14,12 C14,13.1045695 13.1045695,14 12,14 C10.8954305,14 10,13.1045695 10,12 C10,10.8954305 10.8954305,10 12,10 Z M12,4 C13.1045695,4 14,4.8954305 14,6 C14,7.1045695 13.1045695,8 12,8 C10.8954305,8 10,7.1045695 10,6 C10,4.8954305 10.8954305,4 12,4 Z"/>
    </symbol>
    <symbol id="iconPlus" viewBox="0 0 24 24">
        <path fill="currentColor" fill-rule="nonzero" d="M11.8833789,4.00672773 L12,4 C12.5128358,4 12.9355072,4.38604019 12.9932723,4.88337887 L13,5 L13,11 L19,11 C19.5128358,11 19.9355072,11.3860402 19.9932723,11.8833789 L20,12 C20,12.5128358 19.6139598,12.9355072 19.1166211,12.9932723 L19,13 L13,13 L13,19 C13,19.5128358 12.6139598,19.9355072 12.1166211,19.9932723 L12,20 C11.4871642,20 11.0644928,19.6139598 11.0067277,19.1166211 L11,19 L11,13 L5,13 C4.48716416,13 4.06449284,12.6139598 4.00672773,12.1166211 L4,12 C4,11.4871642 4.38604019,11.0644928 4.88337887,11.0067277 L5,11 L11,11 L11,5 C11,4.48716416 11.3860402,4.06449284 11.8833789,4.00672773 L12,4 L11.8833789,4.00672773 Z"/>
    </symbol>
    <symbol id="iconCaret" viewBox="0 0 24 24">
        <path fill="currentColor" fill-rule="nonzero" d="M12,14.5857864 L18.2928932,8.29289322 C18.6834175,7.90236893 19.3165825,7.90236893 19.7071068,8.29289322 C20.0976311,8.68341751 20.0976311,9.31658249 19.7071068,9.70710678 L12.7071068,16.7071068 C12.3165825,17.0976311 11.6834175,17.0976311 11.2928932,16.7071068 L4.29289322,9.70710678 C3.90236893,9.31658249 3.90236893,8.68341751 4.29289322,8.29289322 C4.68341751,7.90236893 5.31658249,7.90236893 5.70710678,8.29289322 L12,14.5857864 Z"/>
    </symbol>

</svg>

</body>
</html>
